@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Love+Ya+Like+A+Sister&family=Noto+Sans+JP&family=Roboto:wght@300&display=swap");

/*------------- Special Styling--------------------*/

body {
  background-color: #f3f6fb;
}

/*------------- Header-----------------------------*/

#logo h1 {
  color: #d5ae41;
  font-family: "Finger Paint", sans-serif;
  letter-spacing: 3px;
  font-size: 2.5rem;
}

/*------------- Games Dashboard--------------------*/

#game-dashboard {
  background-color: #3f69aa;
  display: flex;
  min-height: 100vh;
}

#gameLevel,
#gameTask {
  color: #f3f6fb;
  font-family: "Love Ya Like A Sister", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
}
.no-star {
  color: #f3f6fb;
  letter-spacing: 1rem;
  font-size: 1.75rem;
}

/*------------- Games Card-------------------------*/
/*------------- Footer-----------------------------*/
