/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*------------- Special Styling--------------------*/

body {
  background-color: #f3f6fb;
}

.btn {
  background-color: #bd3d3a;
  color: #f3f6fb;
  margin: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 0.5;
  padding: 0.5rem;
}

.btn a {
  color: #f3f6fb;
}

/*------------- Modal Styling--------------------*/
.game-rules-box,
#contact-form-box {
  color: #f3f6fb;
  background-color: #3f69aa;
}

.game-rules-box li,
#contact-form-box p,
.form-group {
  font-family: "Roboto", sans-serif;
}

.game-rules-box h4,
#contact-form-box h5,
.game-card-modal h6 {
  font-family: "Noto", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: normal !important;
}

.modal-header,
.modal-footer {
  border: none;
}

/**---- Modal styling: Game Console----------**/
.game-card-modal {
  background-color: #f3f6fb;
  color: #343a40;

}

.modal-body .fa-star,
.modal-body .fa-trophy,
.modal-body .fa-frown,
.modal-body .fa-medal {
  color: #d5ae41;
  font-size: 55px;
  line-height: 20px;
}

.modal-btn {
  background-color: #bd3d3a;
  color: #f3f6fb;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.25rem;
}

.modal-btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/**---- Modal styling: contact form----------**/

.form-legal-info {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.form-control {
  box-shadow: 2px -1px 20px 0px #0e2952;
}

/*------------- Header-----------------------------*/

#logo h1 {
  color: #d5ae41;
  font-family: "Finger Paint", sans-serif;
  letter-spacing: 3px;
  font-size: 2.5rem;
  text-shadow: 1px 0px #382d0d;
}

/*------------- Games Dashboard--------------------*/

#game-dashboard {
  background-color: #3f69aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 35vh;
  border: solid 0.25rem #d5ae41;
}

#gameLevel,
#gameTask {
  color: #f3f6fb;
  font-family: "Love Ya Like A Sister", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.75rem;
  text-shadow: 0 0 20px black;
}

.no-star {
  color: #f3f6fb;
  letter-spacing: 1rem;
  font-size: 1.75rem;
  text-shadow: 0 0 20px black;
}

/**---- Stars will change colour to yellow when awarded----**/

.yes-star {
  color: #d5ae41;
  letter-spacing: 1rem;
  font-size: 1.75rem;
  text-shadow: 0 0 20px black;
}

#gameNavBtn .btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#gameNavBtn .btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #f3f6fb;
}

/*------------- Game Card-------------------------*/

#game-card {
  background-color: #bd3d3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  border: solid 0.25rem #d5ae41;
}

#price h1,
#sum h1 {
  color: #f3f6fb;
  font-family: "Love Ya Like A Sister", sans-serif;
  letter-spacing: 3px;
  font-size: 4rem;
  margin-bottom: 0;
  text-shadow: 3px -2px #303031;
}

#price {
  background-color: #3f69aa;
  border: solid 0.25rem #d5ae41;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 50rem;
}

#sum {
  background-color: #d5ae41;
  border: solid 0.25rem #3f69aa;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
}

#coin {
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.coin-button {
  background-color: #bd3d3a;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 0.75rem;
  padding: 0.15rem;
}

.coin-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*------------- Footer-----------------------------*/

#footer {
  background-color: #d5ae41;
  padding: 1rem;
}

#social-links li a i {
  background-color: #bd3d3a;
  color: #f3f6fb;
  width: 2rem;
  height: 2rem;
  padding: 0.75rem 0;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 0.5rem;
  text-align: center;
}

#social-links li a i:hover {
  background-color: #994044;
  color: #f3f6fb;
}

#social-links li {
  list-style-type: none;
}

/*-----------Feedback html styling-------------*/
.confirmation-page {
  background-color: #f3f6fb;
  color: #343a40;
  margin: 50px auto;
  font-size: 20px;
  display: inline-block;
  line-height: 1.5;
  border-radius: .25rem;
}

.playAgain-btn {
  background-color: #bd3d3a;
  color: #f3f6fb;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s !important;
  margin: 0.25rem;
}

.playAgain-btn:hover {
  text-decoration: none;
  color: #f3f6fb;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) !important;
}