@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Love+Ya+Like+A+Sister&family=Noto+Sans+JP&family=Roboto:wght@300&display=swap");

/*------------- Special Styling--------------------*/

body {
  background-color: #f3f6fb;
}

/*------------- Header-----------------------------*/

#logo h1 {
  color: #d5ae41;
  font-family: "Finger Paint", sans-serif;
  letter-spacing: 3px;
  font-size: 2.5rem;
}

/*------------- Games Dashboard--------------------*/
/*------------- Games Card-------------------------*/
/*------------- Footer-----------------------------*/
